name: Pulumi Preview on PR
on:
  - pull_request
jobs:
  preview:
    name: Preview
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pulumi/gcloud_pulumi
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: 'stable'
      - run: go mod download
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'
      - uses: pulumi/actions@v3
        with:
          command: preview
          work-dir: pulumi/gcloud_pulumi
          stack-name: spatel96/spcv_gcloud_pulumi/prod # When using an individual account, only use stack-name.
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
